---
import { Layout } from '$layouts';
---
<Layout title="404">
    <main class="pt-10">
        <section class="flex flex-col">
          <h1 class="font-bold text-center self-center
          mb-6 text-3xl md:text-4xl lg:text-5xl xl:text-6xl">
          Page not found</h1>
          <div class="text-center my-16 mx-6">
            <p>Oops! It looks like the page you're looking for doesn't exist or might have been moved.</p>
            <p>Feel free to use the menu to find your way back.</p>
          </div>
        </section>
    </main>
</Layout>