---
import '../styles/generated.css';
import { DesktopMenu, Footer } from '$components';
import { imagePlaceholder } from '$lib/constants';

export interface Props {
  title: string;
}

const { title } = Astro.props;
const src = imagePlaceholder(256,70)
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header id="top">
      <img {src} alt="Nicolas Matute Logo" />
      <DesktopMenu />
    </header>
    
      <slot />
    
    <Footer />
  </body>
</html>