---
import { Layout } from '$layouts';
import {
		ProjectItem
	} from '../components';
---

<Layout title="Portfolio">
  <main id="portfolio" class="mt-10">
      <section>
        <h1>Portfolio</h1>
        
        <div>
          <ProjectItem />
        </div>

      </section>
  </main>
</Layout>