---
import Layout from '#layouts/Layout.astro';
import MobileSection from '#components/ui/MobileSection.svelte';
import ProjectItem from '#components/portfolio/ProjectItem.svelte';
import { getEntry } from 'astro:content';

const entry = await getEntry('data', 'projects');
const projects = entry?.data.items || [];
---

<Layout title="Nicolas Portfolio">
    <div id="portfolio" class="pt-20 max-w-4xl mx-auto px-4">
        <section id="first" class="mb-24"> 
          <div 
            id="desktop-first-look"
            class="hidden md:flex flex-col items-center justify-center space-y-6"
          >
            <h1
              class="font-display font-extrabold text-center
              text-6xl lg:text-7xl xl:text-8xl tracking-tighter">
              Portfolio
            </h1>
            <p class="max-w-2xl text-center text-xl leading-relaxed opacity-80 font-light italic">
              "Some stuff that I am proud to show."
            </p>
            <div class="h-0.5 w-24 bg-secondary/30"></div>
          </div>
          <MobileSection title="Portfolio" />
        </section>
    
        <section class="portfolio-section pb-32">
          <div class="flex flex-wrap gap-6">
            {projects.map((item: any) => (
              <div class="grow basis-full md:basis-[45%] lg:basis-[30%]">
                <ProjectItem data={item} />
              </div>
            ))}
          </div>
        </section>
    </div>
</Layout>
