---
import Layout from '../layouts/Layout.astro';
import {
		ProjectItem
	} from '../components';
---

<Layout title="Portfolio">
  <main id="portfolio">
      <section>
        <h1>Portfolio</h1>
        
        <div>
          <ProjectItem />
        </div>

      </section>
  </main>
</Layout>